x-app: &default-app
  build:
    context: .
    dockerfile: Dockerfile.dev
  volumes:
    - .:/data/app
  env_file:
    - .env

services:
  web:
    <<: *default-app
    command: sh -c "poetry run python manage.py migrate && poetry run python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"

  tailwind:
    <<: *default-app
    command: "poetry run python manage.py tailwind start"
    tty: true
    depends_on:
      - web
