{% load static tailwind_tags %}
{% load django_htmx %}
{% load alpine_tags %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Random Fact Daily</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <!-- htmx rolls these back to their old values on a swap, then restores
       them after the settle delay, so the reaction buttons can transition. -->
  <meta
    name="htmx-config"
    content='{"attributesToSettle": ["class", "style", "width", "height", "disabled", "aria-pressed"]}'
  />

  {% tailwind_css %}
  {% htmx_script %}
  <script src="{% alpine_js %}" defer></script>

  <style>
    * {
      font-family: "Raleway", sans-serif;
    }
  </style>
</head>
